@page
@model AgendaMG.Pages.Categorias.IndexModel
@{
    ViewData["Title"] = "Lista de categorías";
}

<div class="container">
    <div class="row">
        <div class="col-9">
            <h2 class="text-info">Lista de Categorías</h2>
        </div>
        <div class="col-3">
            <a class="btn btn-success" asp-page="/Categorias/Crear">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
                  <path d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z"/>
                  <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/>
                </svg>
                Crear nueva categoría
            </a>
        </div>
    </div>
</div>

<div>
    <br />
    <br />

    @if (Model.Categorias.Count() > 0)
    {
        <table id="tblCategorias" class="table table-striped table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Categorias.FirstOrDefault().Id)</th>
                    <th>@Html.DisplayNameFor(m => m.Categorias.FirstOrDefault().Nombre)</th>
                    <th>@Html.DisplayNameFor(m => m.Categorias.FirstOrDefault().FechaCreacion)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var categoria in Model.Categorias)
                {
                    if (categoria.Eliminado == false)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => categoria.Id)</td>
                            <td>@Html.DisplayFor(m => categoria.Nombre)</td>
                            <td>@Html.DisplayFor(m => categoria.FechaCreacion)</td>
                            <td>
                                <a class="btn btn-info" asp-page="../Categorias/Detalle" asp-route-id="@categoria.Id ">Detalle</a>
                                <a class="btn btn-warning" asp-page="../Categorias/Editar" asp-route-id="@categoria.Id ">Editar</a>
                                <a class="btn btn-danger" asp-page="../Categorias/Borrar" asp-route-id="@categoria.Id ">Borrar</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No hay categorías</p>
    }

</div>